.preview {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    text-align: center;
    width: 670px;
    height: 100vh !important;
    position: fixed;
    left: 50%;
}

.info {
    display: flex;
}