* {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 40%;
    min-width: 33%;
    max-height: 100%;
    padding: 0.75% 2.5%;
    gap: 45px;
}



