* {
    margin: 0;
    padding: 0;
}

.practicalForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #1c1c1c;
    padding: 3.75% 5% 1.5% 5%;
    border-radius: 12px;
}

h2, 
h3 {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
}

.practicalForm,
.workForm {
    display: flex;
    flex-direction: column;
}

.headline {
    display: flex;
    align-items: center;
    margin-bottom: 1%
}

.icon {
    height: 24px;
    margin-right: 1.5%;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 2.75%;
}

.skill {
    display: flex;
}

.skill .buttonRemove {
    margin-bottom: 0;
    margin-left: 1.5%;
}

.skillList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.practicalForm h2 {
    margin-bottom: 3.5%;
}

.work {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task textarea {
    height: 70px;
}

.input {
    box-sizing: border-box;
    width: 100%;
    color: #a6a6a6;
}

input:focus {
    color: #fff;
}

.start {
    margin-bottom: 1px;
}

.end {
    margin-bottom: 1.25%;
}

.full {
    margin-bottom: 4.5%;
}

.add,
.buttonRemove {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    padding: 2% 0;
    font-size: 0.95vw;
    color: #a6a6a6;
    border: 1px transparent;
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 5%;
    transition: .2s;
    cursor: pointer;
}

.add {
    width: 25%;
    border-radius: 12px;
}

.divRemove {
    margin-left: auto;
}

.buttonRemove {
    border-radius: 6px;
    padding: 8px;
}

.imgRemove {
    width: 22px;
    height: 22px;
}

.imgRemove:hover {
    fill: #79d2b5;
}

.add:hover,
.buttonRemove:hover {
    color: #79d2b5;
    background-color: #2e2e2e;
}

.add:active,
.buttonRemove:active {
    transform: scale(0.9);
}

.imgButton {
    width: 1em;
    margin-right: 5%;
}

